<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/cart.css">
    <!-- <link rel="stylesheet" href="/css/product.css"> -->
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <% if(requests.length>0){ %>
                <div class="centered">
                    <form class="relief-form" method="POST">
                        <div class="form-control">
                            <label for="requestNo">Number of Requests</label>
                            <input type="number" name="requestNo" id="requestNo">
                        </div>
                        <div class="form-control">
                            <label for="teamName">Team Name</label>
                            <select class="pagination custom-select" name="teamId">
                                <% for(team of teams){%>
                                    <option class = "select-selected" value="<%=team.teamId %>">Team <%=team.teamId%></option>
                                <%}%>
                            </select>
                        </div>
                        <button class="btn" type="submit"><Span>Assign</Span></button>
                    </form>
                </div>
                <hr>
                <ul>
                    <% for(req of requests){ %>
                        <li class="cart__item">
                            <ul>
                                <li><b>Name:</b> <%=req.name%></li>
                                <li><b>Division:</b><Address><%=req.division%></Address></li>
                                <li><b>Zilla:</b><Address><%=req.zilla%></Address></li>
                                <li><b>Upazilla:</b><Address><%=req.upazilla%></Address></li>
                                <li><b>Mobile Number:</b> <%=req.mobileNumber%></li>
                                <form action="/admin/delete-request" method="post">
                                    <button class="btn" type="submit">Transfer</button>
                                </form>
                            </ul>                            
                        </li>
                    <% }%>
                </ul>
                <%- include('../includes/pagination.ejs') %>

            <% } else{ %>
                <h1>No Requests!</h1>
            <% } %>
        </main>

<%- include('../includes/end.ejs') %>