<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/relief.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    
    <main>
        <% if (teams.length>0){ %>
            <div class="centered">
                <form class="relief-form">
                    <select class="pagination custom-select" name="division">
                        <option class = "select-selected" value="none">Select Division</option>
                        <option class = "select-selected" value="DHAKA">Dhaka</option>
                    </select>
                    <select class="pagination custom-select" name="zilla">
                        <option class = "select-selected" value="none">Select Zilla</option>
                        <option class = "select-selected" value="DHAKA">Dhaka</option>
                    </select>
                    <select class="pagination custom-select" name="upazilla">
                        <option class = "select-selected" value="none">Select Upazilla</option>
                        <option class = "select-selected" value="DHAKA">Dhaka Sadar</option>
                    </select>
                    <div>
                        <button class="btn search-btn" type="submit"><i class="fa fa-search"></i></button>
                    </div>
                </form>  
            </div>
            <div class="grid">
                <% for(let team of teams){ %>
                    <article class="card product-item">
                        <header class="card__header">
                            <h1 class="relief__title"><%= team.teamName %></h1>
                        </header>
                        <div class="card__image">
                            <img src="<%= team.logoUrl %>" alt="<%= team.teamName %>">
                        </div>
                        <div class="card__content">
                            <h2 class="relief__price">Processing: <%= team.completed %> / <%= team.processing %></h2>
                            <h3 class="relief__price">Total Served: <%= team.totalServed %></h3>
                            <p class="relief__description"><%= team.leaderName %></p>
                        </div>
                        <div class="card__actions"> 
                            <a href="/admin/teams/<%= team._id %>" class="btn">Details</a>
                        </div>
                    </article>
                <% } %>
            </div>
            <%- include('../includes/pagination.ejs') %>

        <% } else{ %>
            <h1>Nothing Assigned Yet!</h1>
        <% } %>
        <a href="/admin/add-team" class="float">
            <i class="fa fa-plus my-float"></i>
        </a>
    </main>

<%- include('../includes/end.ejs') %>