<div class="backdrop"></div>
<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item">
                <a class="<%= path === '/admin/teams' ? 'active' : '' %>" href="/admin/teams">Teams</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/admin/relief-requests' ? 'active' : '' %>" href="/admin/relief-requests">Relief Requests</a>
            </li>
        </ul>
        <ul class="main-header__item-list">
            <% if(!isAuthenticated){ %>
                <li class="main-header__item">
                    <a class="<%= path==='/login'? 'active':'' %>" href="/login">Login</a>
                </li>
                <li class="main-header__item">
                    <a class="<%= path==='/signup'? 'active':'' %>" href="/signup">Signup</a>
                </li>
            <%} else{%>
                <li class="main-header__item">
                    <form action="/logout" method="POST">
                        
                        <button class="btn" type="submit">Logout</button>
                    </form>
                </li>
            <%}%>
        </ul>
    </nav>
</header>

<nav class="mobile-nav">
    <ul class="mobile-nav__item-list">
        <li class="mobile-nav__item">
            <a class="<%= path === '/teams' ? 'active' : '' %>" href="/teams">Teams</a>
        </li>
        <li class="mobile-nav__item">
            <a class="<%= path === '/relief-requests' ? 'active' : '' %>" href="/relief-requests">Relief Requests</a>
        </li>
    </ul>
    <ul class="mobile-nav__item-list">
        <% if(!isAuthenticated){ %>
            <li class="mobile-nav__item">
                <a class="<%= path==='/login'? 'active':'' %>" href="/login">Login</a>
            </li>
            <li class="mobile-nav__item">
                <a class="<%= path==='/signup'? 'active':'' %>" href="/signup">Signup</a>
            </li>
        <%} else{%>
            <li class="mobile-nav__item">
                <form action="/logout" method="POST">
                    
                    <button class="btn" type="submit">Logout</button>
                </form>
            </li>
        <%}%>
    </ul>

</nav>