<section class="pagination">
    <%if(currentPage !== 1){%>
        <a href="?page=<%= prevPage %>"><</a>
    <%}%>
    <a href="?page=<%= currentPage %>" class="active"><%= currentPage %></a>
    <% if(hasNextPage){%>
        <!-- <a href="/?page=<%= lastPage %>"><%= lastPage %></a> -->
        <a href="?page=<%= nextPage %>">></a>
    <%}%>
</section>